
[show-alert]{
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden{
    animation: alert-hidden ;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    form{
        right: 15px;
    }
    to{
        right: -100px;
        display: none;
    }
}

[show-alert] [close-alert]{
    background-color: white;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}